<header class="header menu_fixed">
  <!-- <div class="contacts">
      
  
      <a href="tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a>
    
  
  
      <a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@Panagea.com</a>
  
  </div> -->
  <div id="preloader" *ngIf="loading"><div data-loader="circle-side"></div></div>

  <div id="logo" >
    <a routerLink="">
      <img src="{{urlPath}}/assets/img/stamped-logo.png"  height="80" data-retina="true" alt="" class="logo_normal">
      <img src="{{urlPath}}/assets/img/stamped-logo2.png"  height="60" data-retina="true" alt="" class="logo_sticky">
    </a>
  </div>
  <div>


    <ul id="top_menu">
      <li><a routerLink="/cart" class="cart-menu-btn" title="Cart">
          <!-- <strong>4</strong> --> </a></li>
         
      <li><a routerLink="/login" id="sign-in" class="login" title="Sign In">Sign In</a></li>
      <!-- <li><a routerLink="/wishlist" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li> -->
      <li *ngIf="isLoggedin"><a routerLink="/wishlist" title="Your wishlist"><img src="{{urlPath}}/assets/img/avatar2.jpg"
            alt="Avatar" class="avatar"> Hello {{Username}}</a></li>
    </ul>
  
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile" (click)="mobileMenu()">
      <div class="hamburger hamburger--spin" id="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner" ></div>
        </div>
      </div>
    </a>
    <nav id="menu" class="main-menu">
      <ul>
        <li><span><a routerLink="/home">Home</a></span>
  
        </li>
        <li><span><a routerLink="/hotels">Hotels</a></span>
  
        </li>
        <!-- <li *ngIf="isLoggedin"><span><a >islogin</a></span>
  
            </li> -->
  
  
        <li *ngIf="isLoggedin"><span><a routerLink="/booking" >My Booking</a></span>
              
            </li>
  
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->  
