<div class="col videos-carouselSlide">
  <div class="row">
    <div class="main_title_2 title">
      <h2>Looking for some travel inspiration?</h2>
      <p>Browse through our top destinations this week</p>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <owl-carousel-o [options]="customOptions" >

              <!-- <div class="col-md-3"> -->
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F242617616426642%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <!-- </div> -->
              <!-- <div class="col-md-3"> -->
              <ng-template carouselSlide>

                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F296183197622012%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <!-- </div> -->
              <!-- <div class="col-md-3"> -->
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F292825517957780%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <!-- </div> -->
              <!-- <div class="col-md-3"> -->
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F238308053409527%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <!-- </div> -->
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F286200411953624%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F318026175437714%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F294439077796424%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>

              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F294512784455720%2F&show_text=0&width=560"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F2035428680101819%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F530969190675440%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F178148332758833%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
              <ng-template carouselSlide>
                  <iframe
                      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStampedMagazine%2Fvideos%2F274393736467625%2F&show_text=0&width=476"
                      width="100%" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allowFullScreen="true"></iframe>
              </ng-template>
          
          </owl-carousel-o>
      </div>
  </div>
</div>