<main>
  <div class="hero_in cart_section">
    <div class="wrapper">
      <div class="container">
        <h2 *ngIf="!itemAdded" style="color: #fff;">Your Cart is empty</h2>
      </div>
      <app-order-finished *ngIf="isfinished"></app-order-finished>
    </div>
  </div>
  <!--/hero_in-->
  <div class="bg_color_1" *ngIf="itemAdded && !isfinished">
    <div class="container margin_60_35">
      <div class="row">
        <div class="col-lg-8">
          <div class="box_cart">
            <div class="form_title">
              <h3><strong>1</strong>Passangers Details</h3>
              <p>
                Mussum ipsum cacilds, vidis litro abertis.
              </p>
            </div>
            <form [formGroup]="passangers">
              <div class="step">
               
                <div formArrayName="AdultsPassengers"
                  *ngFor="let item of passangers.get('AdultsPassengers').controls; let i = index;">
                  <h4 *ngIf="i ==0">Main Passanger <small>Adult</small></h4>
                  <h4 *ngIf="i !=0">Passanger <small>Adult</small></h4>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label>Title</label>
                            <select class="nice-select wide "
                            [ngClass]="{
                              redInput:
                                passangers.controls.AdultsPassengers.controls[i].get('title')
                                  .invalid && showErrors
                            }"
                            formControlName="title"
                            placeholder="Title"
                          >
                            <!-- <option value="">-</option> -->
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                            <option value="Master">Master</option>
                            <option value="Dr.">Dr.</option>
                            <option value="Prof.">Prof.</option>
                          </select>

                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>First name</label>
                          <input type="text" class="form-control" formControlName="first_name" id="firstname_booking"
                            name="firstname_booking" 
                            [ngClass]="{
                            redInput:
                              passangers.controls.AdultsPassengers.controls[i].get('first_name')
                                .invalid && showErrors
                          }">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Last name</label>
                          <input type="text" class="form-control" formControlName="last_name" id="lastname_booking"
                            name="lastname_booking"
                            [ngClass]="{
                              redInput:
                                passangers.controls.AdultsPassengers.controls[i].get('last_name')
                                  .invalid && showErrors
                            }">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Birthdate</label>
                          <input type="date" id="email_booking_2" formControlName="dateOfBirth" name="email_booking_2"
                            class="form-control" [ngClass]="{
                              redInput:
                                passangers.controls.AdultsPassengers.controls[i].get('dateOfBirth')
                                  .invalid && showErrors
                            }">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


              <div class="step" formArrayName="ChildernPassengers"
                *ngFor="let item of passangers.get('ChildernPassengers').controls; let x = index;">
                <div [formGroupName]="x">
               
                    <h4> Passanger <small>Child</small></h4>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>First name</label>
                          <input type="text" class="form-control" id="firstname_booking" name="firstname_booking"
                          formControlName="first_name"
                            [ngClass]="{
                              redInput:
                                passangers.controls.ChildernPassengers.controls[x].get('first_name')
                                  .invalid && showErrors
                            }">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Last name</label>
                          <input type="text" class="form-control" id="lastname_booking" name="lastname_booking"
                          [ngClass]="{
                            redInput:
                              passangers.controls.ChildernPassengers.controls[x].get('last_name')
                                .invalid && showErrors
                          }"
                          formControlName="last_name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Birthdate</label>
                          <input type="date" id="birthdate_booking" name="birthdate_booking" class="form-control"
                            formControlName="dateOfBirth"  [ngClass]="{
                              redInput:
                                passangers.controls.ChildernPassengers.controls[x].get('dateOfBirth')
                                  .invalid && showErrors
                            }">
                        </div>
                      </div>
                    </div>
               
                </div>

              </div>
            </form>

            <hr>
            <!--End step -->
            <div class="form_title">
              <h3><strong>2</strong>Payment Information</h3>
              <p>
                Mussum ipsum cacilds, vidis litro abertis.
              </p>
            </div>
            <div class="step">
              <div class="form-group">
                <label>Name on card</label>
                <input type="text" class="form-control" id="name_card_bookign" name="name_card_bookign">
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Card number</label>
                    <input type="text" id="card_number" name="card_number" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <img src="assets/img/cards_all.svg" alt="Cards" class="cards-payment">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Expiration date</label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Security code</label>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                        </div>
                      </div>
                      <div class="col-8">
                        <img src="assets/img/icon_ccv.gif" width="50" height="29" alt="ccv"><small>Last 3
                          digits</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End row -->
              <hr>
              <h4>Or checkout with Paypal</h4>
              <p>
                Lorem ipsum dolor sit amet, vim id accusata sensibus, id ridens quaeque qui. Ne qui vocent ornatus
                molestie, reque fierent dissentiunt mel ea.
              </p>
              <p>
                <a href="#0"><img src="assets/img/paypal_bt.png" alt="Image"></a>
              </p>
            </div>
            <hr>
            <!--End step -->
            <div class="form_title">
              <h3><strong>3</strong>Billing Address</h3>
              <p>
                Mussum ipsum cacilds, vidis litro abertis.
              </p>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Country</label>
                    <div class="custom-select-form">
                      <select class="wide add_bottom_15" name="country" id="country">
                        <option value="" selected>Select your country</option>
                        <option value="Europe">Europe</option>
                        <option value="United states">United states</option>
                        <option value="Asia">Asia</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Street line 1</label>
                    <input type="text" id="street_1" name="street_1" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Street line 2</label>
                    <input type="text" id="street_2" name="street_2" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" id="city_booking" name="city_booking" class="form-control">
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>State</label>
                    <input type="text" id="state_booking" name="state_booking" class="form-control">
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Postal code</label>
                    <input type="text" id="postal_code" name="postal_code" class="form-control">
                  </div>
                </div>
              </div>
              <!--End row -->
            </div>
            <hr>
            <!--End step -->
            <div id="policy">
              <h5>Cancellation policy</h5>
              <p class="nomargin">Lorem ipsum dolor sit amet, vix <a href="#0">cu justo blandit deleniti</a>, discere
                omittantur consectetuer per eu. Percipit repudiare similique ad sed, vix ad decore nullam ornatus.</p>
            </div>
          </div>
        </div>
        <!-- /col -->
        <aside class="col-lg-4" id="sidebar">
          <div class="box_detail">
            <div id="total_cart">
              <div class="sidebar-image">
                <img style="width: 100%;"
                  src="https://mres.majortravel.co.uk/{{tourdetails.Item.itineraries[0].Destination.featured_image}}"
                  alt="" srcset="">
              </div>
              <h5 class="side-header">{{tourdetails.Item.Tour.name}}</h5>
              Total <span class="float-right">£{{tourdetails.Item.Tour.price*numberOfPassangers}}</span>
            </div>
            <ul class="cart_details">
              <li>Country <span>{{tourdetails.Item.Tour.country_name}}</span></li>
              <!-- <li>City <span>city-name</span></li> -->
              <!-- <li>From <span>02-11-18</span></li>
              <li>To <span>04-11-18</span></li> -->
              <li>Duration <span>{{tourdetails.Item.Tour.duration | slice:0:1}} days -
                  {{tourdetails.Item.Tour.duration | slice:2}} nights</span></li>
              <li>Adults <span>{{numberOfAdults}}</span></li>
              <li>Childs <span>{{numberOfChildren}}</span></li>
            </ul>
            <a (click)="purchase()" class="btn_1 full-width purchase">Purchase</a>
          </div>
        </aside>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bg_color_1 -->
</main>
<!--/main-->