<div class="container margin_60_35">
    <div class="main_title_2">
				<h2>Top Destinations</h2>
			</div>
  <div class="wrapper-grid top-destinations">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 text-center">
        <h4>King food</h4>
        <div class="box_grid">
          <figure>
            <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                alt="" width="800" height="533">
            </a>
          </figure>
        </div>
      </div>
      <!-- /box_grid -->
      <div class="col-xl-4 col-lg-6 col-md-6 text-center">
          <h4>King food</h4>
          <div class="box_grid">
            <figure>
              <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                  alt="" width="800" height="533">
              </a>
            </figure>
          </div>
        </div>
        <!-- /box_grid -->
        <div class="col-xl-4 col-lg-6 col-md-6 text-center">
            <h4>King food</h4>
            <div class="box_grid">
              <figure>
                <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                    alt="" width="800" height="533">
                </a>
              </figure>
            </div>
          </div>
          <!-- /box_grid -->
          <div class="col-xl-4 col-lg-6 col-md-6 text-center">
              <h4>King food</h4>
              <div class="box_grid">
                <figure>
                  <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                      alt="" width="800" height="533">
                  </a>
                </figure>
              </div>
            </div>
            <!-- /box_grid -->
            <div class="col-xl-4 col-lg-6 col-md-6 text-center">
                <h4>King food</h4>
                <div class="box_grid">
                  <figure>
                    <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                        alt="" width="800" height="533">
                    </a>
                  </figure>
                </div>
              </div>
              <!-- /box_grid -->
              <div class="col-xl-4 col-lg-6 col-md-6 text-center">
                  <h4>King food</h4>
                  <div class="box_grid">
                    <figure>
                      <a href="restaurant-detail.html"><img src="{{urlPath}}/assets/img/instagram_photo (1).jpg" class="img-fluid"
                          alt="" width="800" height="533">
                      </a>
                    </figure>
                  </div>
                </div>
                <!-- /box_grid -->
    </div>
  </div>
</div>