<div infiniteScroll (scrolled)="scrollHandler()" [infiniteScrollDistance]="0.25" [infiniteScrollUpDistance]="1.5"
	[infiniteScrollThrottle]="50" [scrollWindow]="true" alwaysCallback (scrolledUp)="scrollHandler()">

	<section class="header-video" style="width: 100%; height: 800px;">
		<div id="hero_video">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="margin: 0 auto;">

							<h3>Book Flights & Hotels Via Messaging</h3>
							<p>Plan your next trip with us and add your travel partners to the group.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<form>
								<div class="row no-gutters custom-search-input-2">

									<div class="col-lg-3">
										<div class="form-group nice-select wide" [ngClass]="{'open' : toggle2 }">
											<input autocomplete="DataFeed" type="text" name="flightfrom"
												id="flight-from" class="field-input form-control"
												placeholder="Destination" (blur)="ClearResults()"
												[(ngModel)]="searchDestination2" (input)="filterItems($event)">
											<ul class="results countries-dropdown list">
												<li class=" option" *ngIf="DataFeed == null">
													<label>Most Popular Cities:</label>
													<ul>
														<li (click)="SelectItem2($event)">Dubai</li>
														<li (click)="SelectItem2($event)">New York</li>
														<li (click)="SelectItem2($event)">Paris</li>
														<li (click)="SelectItem2($event)">Hong Kong</li>
														<li (click)="SelectItem2($event)">Sydney</li>

													</ul>
												</li>
												<li class=" option" *ngFor="let item of DataFeed"
													value="item.destination_id" (click)="SelectItem(item)">
													{{item.name}}
												</li>
											</ul>
											<i class="icon_pin_alt"></i>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group" tabindex="-1" (blur)="toggle3 = false">
											<div class="panel-dropdown">
												<a (click)="toggle3 = !toggle3">Passangers<span
														class="qtyTotal">{{totalnumberofpasangers}}</span></a>
												<div class="panel-dropdown-content right"
													[ngClass]="{'dropit' : toggle3 }">
													<div class="dd-title">
														<label>Select rooms passangers</label>
													</div>
													<div class="room" *ngFor="let room of rooms">

														<h6><i class="fas fa-bed passangersTabIcon bedIcon"></i>Room
															{{room.id}}<strong id="small-minus"
																(click)="removeRoom(room.id)"
																*ngIf="room.id > 1">-</strong>
														</h6>
														<div class="qtyButtons">
															<i class="fas fa-male passangersTabIcon"></i>
															<label>Adults <small>(+18 years)</small> </label>
															<div (click)="removeAdult(room.id)" class="qtyDec"></div>
															<input type="text" name="qtyInput" value="{{room.adults}}">
															<div (click)="addAdult(room.id)" class="qtyInc"></div>
														</div>
														<div class="qtyButtons">
															<i class="fas fa-child passangersTabIcon"></i>
															<label>Children <small>(2-18 years)</small> </label>
															<div (click)="removeChild(room.id)" class="qtyDec"></div>
															<input type="text" name="qtyInput"
																value="{{room.children.length}}">
															<div (click)="addAChild(room.id)" class="qtyInc"></div>
														</div>
														<div class="qtyButtons">
															<i class="fas fa-baby passangersTabIcon"></i>
															<label>Infants <small>(0-2 years)</small> </label>
															<div (click)="removeInfant(room.id)" class="qtyDec"></div>
															<input type="text" name="qtyInput" value="{{room.infants}}">
															<div (click)="addInfant(room.id)" class="qtyInc"></div>
														</div>
														<div>
															<form>
																<div class="col-lg-6 child-age"
																	*ngFor="let ageItem of room.children; let i = index;">
																	<div>

																		<input type="text"
																			placeholder="Child {{i+1}} age"
																			style="width:100%" name="ageItem{{i+1}}"
																			(input)="agevaluechange($event, room, i)">
																	</div>
																</div>
																<!-- Chosen name: {{ childrenAges.controls.items.controls[i].controls.age.value }} -->

															</form>
														</div>
													</div>
													<div class="addroom" (click)="addRoom(rooms.length)">
														<h6 class="addroomText"><strong>+</strong><i
																class="fas fa-bed passangersTabIcon bedIcon"></i> Add
															room
														</h6>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<input type="text" name="range" ngxDaterangepickerMd [(ngModel)]="selected"
												class="form-control" opens="left" (datesUpdated)="rangeclicked($event)"
												[locale]="{ format: 'DD-MM-YYYY'}" placeholder="When.." />
										</div>



										<i class="icon_calendar"></i>
									</div>
									<!-- </div> -->
									<div class="col-lg-2">
										<input (click)="search()" type="submit" class="btn_search" value="Search">
									</div>
								</div>
								<!-- /row -->
							</form>
						</div>
					</div>
					<div class="row deals">
						<div class="">
							<a class="messanger-deal" href="http://">
								<i class="fab fa-facebook-messenger"></i>
								<span>Get deal on Messenger</span>
							</a>
						</div>
						<div class="or-circle" color="#b0b0b0" font-size="0.75rem" x="15px,15px" y="9px,7px">
							<span>OR</span></div>
						<div class="">
							<a class="sms-deal" href="http://">
								<i class="fab fa-whatsapp"></i>
								<span>Get deal on Whatsapp</span>
							</a>
						</div>
					</div>
					<div class="row cards-container">
						<div class="col-md-4">
							<div class=" homeCard card-functionality">
								<div class="card-img"><img width="175%"  src="{{urlPath}}/assets/img/hotel_motel_fly_transportation.png" alt="hotel-flight">
								</div>
								<div style="padding: 6%;">
									<h6>Search 1m+ Hotels Worldwide & 150+ airlines</h6>
									<p>Find what you're after from luxury properties to trendy hostels, we have
										exclusive deals and discounted rates up 30% off!</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class=" homeCard card-functionality">
								<div class="card-img"><i class="far fa-comments"></i>
								</div>
								<div style="padding: 6%;">
									<h6>Book Travel via Chat</h6>
									<p>Why spend hours searching online when you can tell someone what you want? Never
										wait on the phone again!</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class=" homeCard card-functionality">
								<div class="card-img"><i class="fas fa-arrow-down"></i>
								</div>
								<div style="padding: 6%;">
									<h6>Not Sure Where You Want To Go?</h6>
									<p>Flick through our videos for some travel inspiration and save them to your bucket
										list. We'll send you exclusive offers to your facourite cities!</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<img src="{{urlPath}}/assets/img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro"
			data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
		<video autoplay="true" loop="loop" muted="" id="teaser-video" class="teaser-video">
			<source src="{{urlPath}}/assets/video/intro.mp4" type="video/mp4">
			<source src="{{urlPath}}/assets/video/intro.ogv" type="video/ogg"></video>
	</section>
	<!-- /header-video -->
<app-destinations-videos></app-destinations-videos>
<app-top-destinations>	</app-top-destinations>
	<!-- <app-Hotel-Items-withFilters *ngIf="showResults"></app-Hotel-Items-withFilters> -->
</div>